* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  padding: 8px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

header {
  text-align: center;
  padding: 4px 10%;
  margin-bottom: 50px;
  background-color: orange;
}

.app {
  background: url(../src/images/neko-bg.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: rgb(247, 247, 247);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px, 6px;
  border-radius: 4px;
  border: none;
  outline:none;
}

.taskAddinput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(75, 75, 75, 0.4);
}

.taskText {
  margin-left: 12px;
}

.taskTrashButton {
  margin-right: 9px;
  border: none;
  cursor: pointer;
}

.taskCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.addTaskCardButtonArea {
  margin-left: 1%;
  margin-top: 25px;
}

.addTaskCardButton {
  padding: 10px 18px;
  border-radius: 9999px;
  font-size: 30px;
  background-color: rgb(221, 194, 162);
  box-shadow: 3px 3px 8px 1px gray;
  cursor: pointer;
  transition: all 0.3s;
}

.addTaskCardButton:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.taskCardTitleAndTaskCardDeleteButtonArea {
  display: flex;
  justify-content: space-between;
}

.taskCardDeleteButton {
  border: none;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
  font-size: 16px;
  color: rgb(158, 46, 46);
}
